@charset "UTF-8";

/* ーーーー */
/* 共通要素 */
/* ーーーー */

html{
  background-color: #fff; /* HTML全体の背景色を白に設定 */
}

body {
  font-size: 16px; /* ボディ全体のフォントサイズを14pxに設定 */
}

*{
  font-family: Noto Sans Jp, Viga, sans-serif; /* 全体のフォントをNoto Sans JPに設定 */
  box-sizing: border-box; /* ボックスのサイズをborder-boxに設定 */
  margin: 0; /* 全要素のマージンをリセット */
  padding: 0; /* 全要素のパディングをリセット */
}

.range{
  margin: 0 auto;
  margin-top: 87px;
  max-width: 1024px;
}

.range2{
  text-align: center;
}

.range3{
  text-align: left;
}

h1{
  font-size: 96px;
  font-weight: 400;
  text-align: left;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h2{
  font-size: 52px;
  font-weight: 700;
  line-height: 52px;
  }

h3{
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  color: #222222;
  background-color: #AFA86F;
  }

a {
  color:#222222; /* リンクのテキスト色を青に設定 */
  text-decoration: none; /* リンクの下線を削除 */
}

.link-title{
  margin: 0 auto;
}

.link-button{
  margin-left: auto;
}

/* ーーーー */
/* ハンバーガーメニュー */
/* ーーーー */

.menu-container {
  display: block;
  justify-content: center; /* Center the hamburger menu horizontally */
  align-items: center; /* Center the hamburger menu vertically */
}

.hamburger {
  width: 64px;
  height: 64px;
  display: flex;
  flex-direction: column; /* Stack the lines vertically */
  justify-content: center; /* Center the lines vertically */
  align-items: center; /* Center the lines horizontally */
  background-color: #333; /* Background color as seen in the image */
  cursor: pointer;
  position: relative;
}

.hamburger span {
  position: absolute;
  background: #fff; /* White color for the bars */
  border-radius: .125rem;
  display: block;
  height: 1px; /* Thickness of the bars */
  width: 32px; /* Width of the bars */
  margin-top: -2px;
  transition: all 0.4s; /* Animation transition */
}

.hamburger p {
  color: #fff; /* White color for the text */
  font-size: 10px; /* Adjust font size for better visibility */
  text-align: center;
  margin-top: 25px;
}

.hamburger span:nth-of-type(1) {
  top: 23%;
}

.hamburger span:nth-of-type(2) {
  top: 37%;
}

.hamburger span:nth-of-type(3) {
  top: 51%;
}

.hamburger._emergent span{
  margin:0;

}

/* clickedクラスが付与されると線が回転して×に */
.hamburger._emergent span:nth-of-type(1) {
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.hamburger._emergent span:nth-of-type(2) {
  opacity: 0; /*真ん中の線は透過*/
}

.hamburger._emergent span:nth-of-type(3) {
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%) rotate(45deg);
}

/* メニューのスタイル */
.menu {
  position: absolute;
  top: 0;
  left: 0; /* 左端に揃える */
  width: 100%; /* ヘッダーの横幅に合わせる */
  color: #fff;
  background-color: #FAF7F1;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 1; /* ハンバーガーアイコンの下に表示されるようにする */
}


/* メニュー表示時のスタイル */
.menu._emergent {
  transform: translateY(0);
  margin-top: 64px;
}

/* メニューのリスト項目のスタイル */
.menu a {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 24px 16px;
  margin: 0;
  text-align: left; /* メニュー項目を左に配置 */
  font-size: 16px;
  color: #fff;
  border-bottom: 1px solid #fff; /* 各項目の下にボーダーを表示 */
}

.menu a :last-child {
  font-size: 16px;
  border-bottom: none;
}

.menu p{
  margin-top: -3px;
}

/* ーーーー */
/* main */
/* ファーストビュー */
/* ーーーー */

.background-section {
  background-image: url("/img/fv01.png");
  background-size: cover; /* 画像をセクション全体にフィットさせる */
  background-position: center; /* 画像を中央に配置 */
  background-repeat: no-repeat; /* 画像を繰り返さない */
}

/* ーーーー */
/* header */
/* ヘッダー */
/* ーーーー */

header {
  display: flex; /* フレックスボックスで配置 */
  align-items: center; /* 垂直方向の中央に揃える */
  justify-content: space-between;
}

/* ーーーー */
/* hero */
/* ファーストビュー */
/* ーーーー */

/* ーーーー */
/* about-us */
/* TETOTEについて */
/* ーーーー */

.about-us__image img{
  max-width:506px;
  aspect-ratio: 506,393;
}

/* ーーーー */
/* staff */
/* 社員について */
/* ーーーー */

/* ーーーー */
/* benefits-career */
/* 福利厚生について */
/* ーーーー */

/* ーーーー */
/* blog */
/* 採用ブログについて */
/* ーーーー */

/* ーーーー */
/* recruitment */
/* 採用情報について */
/* ーーーー */

/* ーーーー */
/* footer */
/* フッター */
/* ーーーー */